* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

div[v-cloak]{
    display: none;
}

body {
    font-size: 18px;
}

button {
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

.exitPreview{
  position: fixed;
  left: 20px;
  top: 20px;
}

@media (min-width: 500px) {
    .page {
        height: 100vh;
        overflow: hidden;
        display: flex;
    }

    .page > aside {
        border-right: 1px solid #dddddd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        min-width: 118px;
    }

    .page > aside > .upper {
        display: flex;
        flex-direction: column;
    }

    .page > aside > .upper > .actions > li {
        margin: 20px;
    }

    .page > aside > .down {
        padding: 20px 0;
    }

    .page > main {
        flex-grow: 1;
        overflow: auto;
    }

    .button {
        padding: 3px 10px;
    }
}
